<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253128884917-3clm2vrk3a8847nrd2b6vcmfnallbqk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253128884917-3clm2vrk3a8847nrd2b6vcmfnallbqk4</string>
	<key>API_KEY</key>
	<string>AIzaSyBhrZbOWD9m2Flm2jBDstivlMtQ40LxI2s</string>
	<key>GCM_SENDER_ID</key>
	<string>253128884917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithibrahim.Cvd19-Questionnaire</string>
	<key>PROJECT_ID</key>
	<string>mycovid-43240</string>
	<key>STORAGE_BUCKET</key>
	<string>mycovid-43240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253128884917:ios:48f867a4f324102f7274fc</string>
</dict>
</plist>